<html>
    <head>
        <title>El blog de Ana</title>
    </head>
    <body>
        <div>
            <h1><a href=""><em>Este blog es de Ana y no tuyo</em></a><h1>
        </div>

        <div>
            <p>published: 27.02.2016</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Bienvenido a Ana´s world</p>
        </div>

        <div>
            <p>published: 27.02.2016</p>
            <h2><a href="">My segundo post</a></h2>
            <p>Adiós de Ana´s world</p>
        </div>
    </body>
</html>